<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="javaScript:void(0)">Financial Tools</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/guideline']">名言/准则</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/oderDas']">小狗钱钱计算器</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/position']">仓位计算器</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>



<router-outlet></router-outlet>